.list-group {
    margin-top: 10px;
  }
  
  .list-group-item {
    background: #444;
    color: white;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  
.container {
    max-width: 500px;
    margin: 50px auto;
  }
  
  .card {
    background: #333;
    padding: 20px;
    border-radius: 8px;
  }
  
  .text-loading {
    color: black;
  }
  .text-danger {
    color: red;
  }
  