.footer {
    position:relative;
    bottom: 0;
    left: 0;
    width: 470px;
    background-color: wheat;
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  .btn {
    border-radius: 8px;
    background: rgb(250, 197, 118);
    font-size: 18px;
    padding: 10px 30px;
    margin-left: 20px;
  }